
@main {

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
              <li>Accesorio</li>
            </ol>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h1 id="homeTitle">Accesorio <a href="@routes.AdminAccesorioController.create()" data-toggle="popover" data-content="Agregar Accesorio" class="text-success">  <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
              </h1>
        </div>
    </div>
}