@()


@main{
    <h1>Almacenamiento</h1>
    @partialIngestaAlmacenamiento()

    <h1>Calificación Anterior</h1>
    @partialIngestaCalificacionAnt()

    <h1>Formato</h1>
    @partialIngestaCambioFormato()

    <h1>Conclusión</h1>
    @partialIngestaConclusion()

    <h1>Detalle audio</h1>
    @partialIngestaDetalleAudio()

<h1>Detalle video</h1>
@partialIngestaDetalleVideo()

<h1>Edo material</h1>
@partialIngestaEstadoMaterial()

<h1>Formato Ingesta</h1>
@partialIngestaFormatoIngesta()

<h1>Idioma</h1>
@partialIngestaIdioma()

<h1>Medio Almacenamiento</h1>
@partialIngestaMedioAlmacenamiento()

<h1>Observaciones</h1>
@partialIngestaObservaciones()

<h1>Presencia</h1>
@partialIngestaPresencia()

<h1>Almacenamiento</h1>
@partialIngestaProblema()

<h1>Subtitulo</h1>
@partialIngestaSubtitulo()


}

