@if(session.get("rolActual")=="16"){
	<div class="row">
		<div class="col-md-4">
			¿El productor permaneció en la sala para indicar el material a ingestar?
		</div>
		<div class="col-md-8">
			<div class="row">
				<div style="display: inline-block;">
					<label class="radio radio-inline">
           				<input name="presencia" value="S" type="radio"> Si
               		</label>
				</div>
				<div style="display: inline-block;">
					&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div style="display: inline-block;">
					<label class="radio radio-inline">
                    	<input name="presencia" value="N" type="radio"> No
                    </label>
          		</div>				
			</div>
		</div>
	</div>
}


