
						<div class="panel panel-default" name="preguntaPersonal">
							<div class="panel-body">


								<div class="row">
									<div class="col-md-12">
                                        <div class="form-group"  style="width:100%">
                                        	<div style="display:inline">
                                        		<select size="10" multiple="multiple" name="selectPersonalDisponibles" disabled></select>
                                       		</div>
                                        </div>
                                    </div>
                                </div>        								
                                      <div class="row">
                                          <div class="col-sm-12">
                                                  <div class="with-errors"></div>
                                          </div>
                                      </div>
		                                        
                            </div>
                        </div>
