				      <div class="panel panel-default">
						  	<div class="panel-body">
								<div class="row">
										<div class="col-md-12">
                                            <div class="form-group">
    									  		<label class="radio-inline control-label">
    									          <input name="rgFaseSala" value="3" type="radio" "> Edición
    									        </label>
    									        <label class="radio-inline control-label">
    									          <input name="rgFaseSala" value="4" type="radio"> Posproducción
    									        </label>
                                            </div>
										</div>
						      	</div>
					      	</div>
			      		</div>