@if(session.get("rolActual")=="16"){


	<div class="row">
		<div class="col-md-4">
			¿El material se calificó con anterioridad?
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
					<div style="display: inline-block;">
							<label class="radio radio-inline">
                                        			<input name="calificado" value="true" type="radio"> Si
                                      		</label>
					</div>
					<div style="display: inline-block;">
						&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					<div style="display: inline-block;">
							<label class="radio radio-inline">
                                        			<input name="calificado" value="false" type="radio"> No
                                      		</label>
                                    		</div>
				</div>		
			</div>
		</div>
	</div>
}


