

<!-- Chart.js -->
<!--script src="@routes.Assets.at("gentelella/vendors/Chart.js/dist/Chart.min.js")"></script-->
<!--script src="https://cdn.jsdelivr.net/npm/chart.js"></script-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"  nonce="@session.get("nonce")" />

<!-- Resource style -->
<style nonce="@session.get("nonce")">
.row.vdivide [class*='col-']:not (:last-child ):after {
	background: #e0e0e0;
	width: 1px;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.sticky-bottom {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-md {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	font-size: 10px;
	line-height: 1.428571429;
	border-radius: 25px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.tile-stats .count-sm {
	font-size: 18px !important;
}


.tile-stats h5-sm {
    font-size: 14px !important;
    color: #BAB8B8;
}

.x_title {
	background : white;
}

    .my-icon4 {
      color: #7fd2c1 !important;
    }


.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}


</style>


@main{
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Videoteca - Tablero</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Indicadores</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-2">
							<i class="fas fa-film fa-4x"></i>
						</div>
						<div class="col-sm-10 col-md-10 col-lg-10">
							Total de registros: <span id="spanTotal"></span></br>
							Total de series:<span id="spanSeries"></span></br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-xs-12 col-sm-12 col-sm-6 col-md-4 col-lg-4">
			<div class="x_panel fixed_height_320">
				<div class="x_title">
					<h2>    Área temática    </h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table class="centradoHV">
						<tbody>
							<tr>
								<td>
									<div>
										<canvas id="canvas1" style="min-width:180px; min-height:180px; max-width:180px; max-height=180px;" class="centradoHV"></canvas>
									</div>
								</td>
								<td>
									<div id="tablaCanvas1" style="padding-left:15px;"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-sm-6 col-md-4 col-lg-4">
			<div class="x_panel fixed_height_320">
				<div class="x_title">
					<h2>    Formato    </h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table class="centradoHV" style="width:100%">
						<tbody>
						<tr>
							<td>
								<div>
									<canvas id="canvas2" style="min-width:180px; min-height:180px; max-width:180px; max-height=180px;" class="centradoHV"></canvas>
								</div>
							</td>
							<td>
								<div id="tablaCanvas2" style="padding-left:15px; width:100%;"></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-sm-6 col-md-4 col-lg-4">
			<div class="x_panel fixed_height_320">
				<div class="x_title">
					<h2>    Producción    </h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table class="centradoHV" style="width:100%">
						<tbody>
						<tr>
							<td>
								<div>
									<canvas id="canvas3" style="min-width:180px; min-height:180px; max-width:180px; max-height=180px;" class="centradoHV"></canvas>
								</div>
							</td>
							<td>
								<div id="tablaCanvas3" style="padding-left:15px; width:100%;"></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!--Anio de producción -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-sm-12 col-md-12 col-lg-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>    Año de producción    </h2>
					<div class="clearfix"></div>
				</div>
				<div class="chart-container">
					<canvas id="canvasAnioProd"></canvas>
				</div>
			</div>
		</div>
	</div>






}

<script type="text/javascript" nonce="@session.get("nonce")">
  const coloresChart = ["#707e8d", "#c9b8d0",  "#BDC3C7", "#7fd2c1", "#9cd1f5", "#e6e6ab"     ,"#ddabe6", "#6a665a", "#635e85"];
  var data = {
    labels: [],
    datasets: [{
      data: [],
	      backgroundColor: coloresChart
    }],
  };




	var myChart = new Chart(canvas1, {
			type: 'doughnut',
			data: {
				labels: [],
				datasets: [{
				  data: [],
				  backgroundColor: coloresChart
				}],
			  },
			options: {
				legend:{
					display: false,
					position: 'bottom',
					labels:{fontSize: 10}
				}
			}
		});

	var myChartFmto = $("#canvas2");
	var myChart2 = new Chart(myChartFmto, {
			type: 'doughnut',
			data: {
				labels: [],
				datasets: [{
				  data: [],
				  backgroundColor: coloresChart
				}],
			  },
			options: {
				legend:{
					display:false,
					position: 'bottom',
					labels:{fontSize: 10}
				}
			}
		});


	var myChartProd = $("#canvas3");
	var myChart3 = new Chart(myChartProd, {
			type: 'doughnut',
			data: {
				labels: [],
				datasets: [{
				  data: [],
				  backgroundColor: coloresChart
				}],
			  },
			options: {
				legend:{
					display: false,
					position: 'bottom',
					labels:{fontSize: 10}
				}
			}
		});

		var myChartAnioProd = $("#canvasAnioProd");
		var myChart4 = new Chart(myChartAnioProd, {
			type: 'line',
			data: {
				labels: [],
				datasets: [{
				  data: [],
				  backgroundColor: coloresChart
				}],
			  },
			options: {
				legend:{
					display: false,
					position: 'bottom',
					labels:{fontSize: 10}
				},
				responsive: true,
                maintainAspectRatio: false
			}
		});




  $(function() {
	  moment.locale('es');
	  $("#cargando").html("<i class='fas fa-sync-alt fa-spin fa-5x center-block'></i>");
	  $("#cargando").fadeIn("slow");
      actualiza();	
      $.notifyDefaults({
          type: 'success',
          newest_on_top: true,
          z_index: 999000
      });
  });
  
  
  function actualiza(){
	    $.ajax({
	        url: '/ajaxTableroVideoTK',
	        method: 'GET',
	        dataType: "json"
	    }).success(function(data){
	    	console.debug("retornando.........")
	    	console.dir(data)

	    	$("#spanTotal").html(data.total.toLocaleString('es-MX'));
			$("#spanSeries").html(data.series.toLocaleString('es-MX'));


			console.log(myChart.data)

			// Widget Área Temática
			myChart.data.datasets[0].data = data.areaDatos;
			myChart.data.labels = data.areaLabels;
			myChart.update();
			var cadArea="<table class='tile_info' style='padding-right:10px'>";
			for (var i=0; i<data.areaDatos.length; i++){
				cadArea+="<tr>";
				cadArea+="  <td> <i class='fa fa-square fa-2x' style='color:"+coloresChart[i]+"'></i> "+data.areaLabels[i]+"</td>";
				cadArea+="  <td style='text-align:right'>"+data.areaDatos[i].toLocaleString('es-MX')+"</td>";
				cadArea+="</tr>";
			}
			cadArea+="</table>";
			$("#tablaCanvas1").html(cadArea);


			// Widget Formatos
			myChart2.data.datasets[0].data = data.formatoDatos;
			myChart2.data.labels = data.formatoLabels;
			myChart2.update();
			var cadArea2="<table class='tile_info' style='padding-right:10px; width:100%;'>";
			for (var i=0; i<data.formatoDatos.length; i++){
				cadArea2+="<tr>";
				cadArea2+="  <td> <i class='fa fa-square' style='color:"+coloresChart[i]+"'></i> "+data.formatoLabels[i]+"</td>";
				cadArea2+="  <td style='text-align:right'>"+data.formatoDatos[i].toLocaleString('es-MX')+"</td>";
				cadArea2+="</tr>";
			}
			cadArea2+="</table>";
			$("#tablaCanvas2").html(cadArea2);


			// Widget Producción
			myChart3.data.datasets[0].data = data.prodDatos;
			myChart3.data.labels = data.prodLabels;
			myChart3.update();
			var cadArea3="<table class='tile_info' style='padding-right:10px; width:100%;'>";
			for (var i=0; i<data.prodDatos.length; i++){
				cadArea3+="<tr>";
				cadArea3+="  <td> <i class='fa fa-square' style='color:"+coloresChart[i]+"'></i> "+data.prodLabels[i]+"</td>";
				cadArea3+="  <td style='text-align:right'>"+data.prodDatos[i].toLocaleString('es-MX')+"</td>";
				cadArea3+="</tr>";
			}
			cadArea3+="</table>";
			$("#tablaCanvas3").html(cadArea3);


			// Widget Anio Prod
			myChart4.data.datasets[0].data = data.aniosProdDatos;
			myChart4.data.labels = data.aniosProdLabels;
			myChart4.update();




	    }).error(function(xhr, status, error) {
	          alert("error rn ajax -  "+ xhr.responseText );
	          alert("error rn ajax -  "+ error );
	          alert("error rn ajax -  "+ xhr);
	        });
  }
  
  
  
  
  
</script>
<script src="@routes.Assets.at("lib/moment/min/moment.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/moment/locale/es.js")" type="text/javascript"></script>



<script src="@routes.Assets.at("bootstrap-notify/bootstrap-notify.min.js")"></script>

