@(forma: Form[Sala], roles:List[Rol])

@import helper._

 

@main {

<style>
.vbottom{
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}
</style>

    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
              <li><a href="@routes.AdminSalaController.list()">Salas</a></li>
              <li>Agregar</li>
            </ol>
        </div>
    </div>
        
    <h1>Agregar Sala</h1>
    
    @form(CSRF(routes.AdminSalaController.save()), 'role->"form") {
        @salaForm(forma, roles, "create")
        <br/><br/>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                    <input type="submit" value="Actualizar" class="btn btn-primary btn-block">
                </div>
                
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                    <a href="@routes.AdminSalaController.list()" class="btn btn-warning btn-block">Cancelar</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                        <input type="button" class="btn btn-danger btn-block" value="Eliminar" id="btnEliminar">
                </div>
            </div>            
        </div>      
        
   
    }
}

<script type="text/javascript">
    $(function() {
    	$("#filtroOpera").click();
        $('form').validator();
        agregarOperador();
        agregarOperador();
    });

    $("form").submit(function(){
        $("[type='checkbox'][id^='auxRoles_']:checked").each(function(i,e){
            $(this).attr("name","cuentas[0].roles["+i+"].rol.id");
        });         
        
        $("#divOperador select[name^='operadores['][name$='].personal.id']").each(function(i,e){            
            $(this).attr('name', "operadores["+i+"].personal.id");
        });
        
        $("#divOperador select[name^='operadores['][name$='].turno']").each(function(i,e){            
            $(this).attr('name', "operadores["+i+"].turno");
        });


        
        
        $("#divTablaMantto.row").each(function(i,e){
            alert("linea "+i);
        });
        

        
            
        $("#divMantto #divTablaMantto input[name='mantenimiento.sala']").each(function(i,e){
            $(this).attr('name', "mantenimiento["+i+"].sala.id");
        });        
       
        $("#divMantto input[name='mantenimiento.desde']").each(function(i,e){
            $(this).attr('name', "mantenimiento["+i+"].desde");
        });        

        $("#divMantto input[name='mantenimiento.hasta']").each(function(i,e){
            $(this).attr('name', "mantenimiento["+i+"].hasta");
        });   
       
        $("#divMantto input[name='mantenimiento.descripcion']").each(function(i,e){
            $(this).attr('name', "mantenimiento["+i+"].descripcion");
        }); 

        $("#divMantto input[name='mantenimiento.motivo']").each(function(i,e){            
            $(this).attr('name', "mantenimiento["+i+"].motivo");
        });         
        
        

        
        
    });
    
    
    $("#filtroOpera, #filtroMantto").click(function(){
        toggleFiltro(this);
        
        
    });    
    
    function toggleFiltro(e){       
        $("div[name='filtroEdo']").css("font-weight", "normal");
        $("div[name='filtroEdo']").css("border-bottom","3px solid #F2F2F2");
        $(e).css("font-weight", "bold");
        $(e).css("border-bottom","3px solid "+$(e).css("color"));
        $("#divOperador").toggle( $(e).prop("id")=="filtroOpera"  );
        $("#divMantto").toggle( $(e).prop("id")=="filtroMantto"  );
    }
        
    
    $("#agregarMantto").click(function(e){
        e.preventDefault();
        $("#divTablaMantto").append(
                '<div class="row">'
                    +'<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">'
                        +'<input type="hidden" name="mantenimiento.sala" value="">'
                        +'<input type="input" name="mantenimiento.desde" value="" class="form-control">'
                        
                        Agregar campo no visible para datepicker 
                        Agregar campo no visible para timepicker
                        
                        al hacer click en el input visible abrir picker del oculto, despues del picker tomar ese valor y desplegarlo en el input
                        
                        antes del submit con js unir los dos valores y dejarlos en desde
                        
                        
                        +'<input type="date" name="auxmantenimiento.desde" value="" class="form-control">'
                    +'</div>'
                    +'<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">'
                        +'<input type="date" name="mantenimiento.hasta" value="" class="form-control">'
                    +'</div>'
                    +'<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">'
                        +'<select name="mantenimiento.tipo.id" class="form-control">'
                        +'<option class="blank" value="">-- Seleccione tipo de mantto. --</option>'
                           @for( (a, b)<-models.TipoMantenimiento.options()){
                               +'<option value=@a required>@b </option>'
                           } 
                        +'</select>'              
                    +'</div>'                    
                    +'<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">'
                        +'<input type="text" name="mantenimiento.descripcion" placeholder="Descipción" class="form-control">'
                    +'</div>'

                    +'<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">'
                        +'<h5 id="homeTitle" class="text-danger">Eliminar<a href="javascript:eliminaMantto('+$("#divTablaMantto div.row").length+')" data-toggle="popover" data-content="Eliminar mantenimiento" class="text-danger" id="btnEliminarMantto">  <i class="fa fa-minus-circle" aria-hidden="true"></i> </a></h5>'
                    +'</div>'                   
                +'</div>');        
    });
    
    

    
    
    function eliminaMantto(op){
        $("#divTablaMantto div.row:eq("+op+")").remove();
    }
    
    
    
    function agregarOperador(){
     		
    }
    
    
</script>



