.fa-trash-alt:hover, .fa-eye:hover, .fa-calendar:hover {
    color: blue;
}

.alert-observacion {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    padding-left: 1em;
    padding-right: 1em;
}



.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding-right:0.2em;
      padding-top:0.5em;
      padding-bottom:0.5em;
      padding-left:0.5em;
      border:#f0f0f0 1px solid;
      
    }
    .table-head{
        font-weight:bold;
    }