.select-img {
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.contenedor {
    /*display:table;*/
    /*width: 100%;*/
    /*margin-top: -50px;*/
    /*padding: 50px 0 0 0; /*set left/right padding according to needs*/*/
/*    box-sizing: border-box;*/
    background-color: black;
    /*opacity: 0.5;
    /*filter: alpha(opacity=50);*/ 
}

.error {
    color: #ff0000 !important;
}

.correcto {
    color: #74bd46 !important;
}

