.areaTexto {
	min-width: 100% !important;
}

.mismaLinea{
 display: inline-block;	
}



section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}



.renglonTablaImpar{
	background-color: #E0E0E0;
}

.renglonTablaPar{
    background-color: #F0F0F0;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.sobre::before {
   font-family: "Font Awesome 5 Free";
   content: "\f0e0";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}
.lineaSeparadora {
    border-top: 1px solid #C0C0C0;
    height: 2px;
    padding: 0;
    margin: 2px auto 0 auto;
}

.bloque {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: var(--tag--min-width);
    max-width: var(--tag--max-width);
    margin: 2px;
    padding: 0.2em 0.4em;
    border: thin solid #dbdbdb;
    border-radius: 5px;
}
