

.breadcrumbs-two{
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
		.breadcrumbs-two{
		  overflow: hidden;
		  width: 100%;
		}
    .breadcrumbs-two li{
		  float: left;
		  width:20%;
		}
		.breadcrumbs-two a{
		/*  text-transform: uppercase;*/
		  float: left;
		  text-decoration: none;
		  color: #FFF;
		  position: relative;
		  text-align: center;
		  width: 100%;
		  height: 80px;
		  line-height: 1.3;
	    font-size: 15px;
		}   
		.breadcrumbs-two a span {
			display: inline-block;
			max-width: 100%;
			width: 150px;
			margin: auto;
			position: relative;
			top: 8px;
		}
		.breadcrumbs-two a::before{
		  content: "";
		  position: absolute;
		  top: 50%; 
		  margin-top: -40px;   
		  border-width: 40px 0 40px 30px;
		  border-style: solid;
		  border-color: #ddd #ddd #ddd transparent;
		  left: -30px;
		}
		.breadcrumbs-two a::after{
		  content: "";
		  position: absolute;
		  top: 50%; 
		  margin-top: -40px;   
		  border-top: 40px solid transparent;
		  border-bottom: 40px solid transparent;
		  border-left: 30px solid #ddd;
		  right: -30px;
		}
		
		.bread a {
			background-color: #babdb6;
		}
		.bread a::before {
			border-color: #babdb6 #babdb6 #babdb6 transparent;
		}
		.bread a::after {
			border-color: transparent #babdb6 transparent #babdb6;
		}		
		.bread1 a {
			background-color: #8ac43c;
		}
		.bread1 a::before {
			border-color: #8ac43c #8ac43c #8ac43c transparent;
		}
		.bread1 a::after {
			border-color: transparent #8ac43c transparent #8ac43c;
		}
		.bread2 a {
			background-color: #69aa4e;
		}
		.bread2 a::before {
			border-color: #69aa4e #69aa4e #69aa4e transparent;
		}
		.bread2 a::after {
			border-color: transparent #69aa4e transparent #69aa4e;
		}
		.bread3 a {
			background-color: #448e60;
		}
		.bread3 a::before {
			border-color: #448e60 #448e60 #448e60 transparent;
		}
		.bread3 a::after {
			border-color: transparent #448e60 transparent #448e60;
		}
		.bread4 a {
			background-color: #1f7171;
		}
		.bread4 a::before {
			border-color: #1f7171 #1f7171 #1f7171 transparent;
		}
		.bread4 a::after {
			border-color: transparent #1f7171 transparent #1f7171;
		}
		.bread5 a {
			background-color: #005581;
		}
		.bread5 a::before {
			border-color: #005581 #005581 #005581 transparent;
		}
		.bread5 a::after {
			border-color: transparent #005581 transparent #005581;
		}
	    
		@media screen and (max-width: 991px) {
      .breadcrumbs-two{
        overflow-x:hidden;
        overflow-y:visible;
        padding-bottom:40px;
      }
      .breadcrumbs-two a span{ top:45px; }
			.breadcrumbs-two li {
				float: none;
				width: 100vw;
        height: 80px;
        position:relative;
        display:block;
        overflow:visible;
			}
      .breadcrumbs-two li:first-child:before{
        content:'';
        display:block;
        width: 100vw;
        height:30px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        margin:auto;
        border-top:30px solid white;
        border-left:50vw solid transparent;
        border-right:50vw solid transparent;
        box-sizing:border-box;
        z-index:1;
      }
      .breadcrumbs-two li:after{
        content:'';
        display:block;
        width: 100vw;
        height:30px;
        position:absolute;
        bottom:-30px;
        left:0;
        right:0;
        margin:auto;
        border-left:50vw solid transparent;
        border-right:50vw solid transparent;
        box-sizing:border-box;
      }
			.breadcrumbs-two a {
				width: 100%;	
			}
			li.bread1 {
        z-index:10;
			}
			li.bread2 {
        z-index:9;
			}
			li.bread3 {
        z-index:8;
			}
			li.bread4 {
        z-index:7;
			}
			li.bread5 {
        z-index:6;
			}
			
      li.bread:after{
        border-top:30px solid red;
      }			
			
      li.bread1:after{
        border-top:30px solid #8ac43c;
      }
      li.bread2:after{
        border-top:30px solid #69aa4e;
      }
      li.bread3:after{
        border-top:30px solid #448e60;
      }
      li.bread4:after{
        border-top:30px solid #1f7171;
      }
      li.bread5:after{
        border-top:30px solid #005581;
      }

		}