    .campoRequerido {
        color: #0A093B !important;
    }

    textarea {
      resize: none;
    }

    .bootstrap-select .btn {
        //white-space: normal;
        font-size: smaller;
    }

    #unidadresponsable_id_field span.text{
        white-space: normal;
        font-size: smaller;
        line-height : 15px;
        margin-bottom: 4px;
        margin-top: 4px;
        size: 10;
    }

    #serie_id_field span.text{
        white-space: normal;
        font-size: smaller;
        line-height : 15px;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .tab-pane {
        marging-top: 10px !important;
        margin-left: 10px !important;
    }


.panel-heading-nav {
  border-bottom: 0;
  padding: 10px 0 0;
}

.panel-heading-nav .nav {
  padding-left: 10px;
  padding-right: 10px;
}


.tagify{
  width: 100%;
  max-width: 100%;
  background-color: white;
  padding: 3;
}


.tagify--notAllowed {
    --tag-invalid-bg : #CBD5CF;
}

.tagify__tag{
    --tag-bg: #CBD5CF;
}

.mayusculasForzadas{
    text-transform: uppercase;
}



dd.info {
    font-size:85%;
}


.spanIconoAyudaCampo {
    color: #3e95d5;
    margin-left: 6px;
}

.row {
    margin: 10px;
}


.checkbox-group {
    display: inline-block;
    margin-right: 17px;
}


.lineaSeparadora {
  border-top: 1px solid #C0C0C0;
  height: 2px;
  padding: 0;
  margin: 2px auto 0 auto;
}

.labelInfo {
    font-weight: bold;
}

.bloqueAnterior {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    min-width: var(--tag--min-width);
    max-width: var(--tag--max-width);
    transition: .8s ease,.1s color;
    background: #E5E5E5;
    margin: 3px;
    padding: 1px 10px;
}


.bloque {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    min-width: var(--tag--min-width);
    max-width: var(--tag--max-width);
    transition: .8s ease,.1s color;
    //background: #E5E5E5;
    margin: 0px;
    padding: 0px 0px;
    padding-right: 2.5em;
}
