@(id: Long, urForm: Form[UnidadResponsable])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
              <li><a href="@routes.AdminUnidadResponsableController.list()">Unidades Responsables</a></li>
              <li>Editar</li>
            </ol>
        </div>
    </div> 
    <h1>Editar Unidad Responsable</h1>
     @form( CSRF(routes.AdminUnidadResponsableController.delete(id)), 'id->"frmAux") {
     }     
     @form( CSRF(routes.AdminUnidadResponsableController.update(id)), 'id->"frm") {
        
        @UnidadResponsableForm(urForm)
        
        <br/><br/>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 90%" class="center-block">
                    <input type="submit" value="Actualizar" class="btn btn-primary btn-block">
                </div>
                
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 90%" class="center-block">
                    <a href="@routes.AdminUnidadResponsableController.list()" class="btn btn-warning btn-block">Cancelar</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div style="width: 90%" class="center-block">
                        <input type="button" class="btn btn-danger btn-block" value="Eliminar" id="btnEliminar">
                </div>
            </div>            
        </div>

        
    }
    
}


<script type="text/javascript">
    $("#btnEliminar").click(function(){
    	$("#frmAux").submit();
    });
</script>


<script src="@routes.Assets.at("javascripts/agenda.js")"></script>
<script src="@routes.Assets.at("javascripts/general.js")"></script>
