@main {

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
            <li>Catálogo videoteca</li>
        </ol>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <h1 id="homeTitle">Catálogo <a href="@routes.VideotecaController.catalogoCreate()" data-toggle="popover" data-content="Agregar Accesorio" class="text-success">  <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
        </h1>
    </div>
</div>


@views.html.flashes()


<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tabla">
        <thead>
        <tr>
            <td>id</td>
            <td>Serie</td>
            <td>Titulo</td>
            <td>Sinópsis</td>
            <td>Obra</td>
        </tr>
        </thead>

    </table>
</div>

}



<script>

    $(function(){
         $("#wrapper").toggleClass("toggled");

            $("#tabla").DataTable({
            	"stateSave": true,
                "pageLength": 5,
               "lengthMenu": [  [3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]   ],
               "language": {
                    "url": "@routes.Assets.at("Spanish.json")"
               },
	            "processing": false,
	            "serverSide": true,
	            "ajax": {
	                "url":  "/vtkCatalogoDTSS",
	                "contentType": "application/json; charset=utf-8",
	                "dataType": "json"
	            },
	            "columns": [
	                { "data": "id" ,
	                  "render": function(data, type, row, meta){
	                      return '<u><a href="vtkCatalogo/edit/'+data+'">'+data+"</a></u>";
	                  }
	                },
	                { "data": "serie" },
	                { "data": "titulo" },
	                { "data": "sinopsis" },
	                { "data": "obra" }
	              ]
            });

    });

    $("#btnAgregar").click(function(){

    });


</script>

<!-- Datatables -->
<script src="@routes.Assets.at("gentelella/vendors/datatables.net/js/jquery.dataTables.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/jszip/dist/jszip.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/pdfmake/build/pdfmake.min.js")"></script>
<script src="@routes.Assets.at("gentelella/vendors/pdfmake/build/vfs_fonts.js")"></script>
