@(forma: Form[models.videoteca.VtkCatalogo], auxCreditos:List[models.videoteca.TipoCredito], campos:List[models.videoteca.VtkCampo])
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@import helper._
@anio = { @(new Date().format("yyyy"))}

<script src="@routes.Assets.at("tagify/tagify")" nonce="@session.get("nonce")"></script>
<script src="@routes.Assets.at("tagify/tagify.polyfills.min.js")" nonce="@session.get("nonce")"></script>
<link href="@routes.Assets.at("tagify/tagify.css")" rel="stylesheet" type="text/css"  nonce="@session.get("nonce")"/>
<link href="@routes.Assets.at("tagify/tagify.css")" rel="stylesheet" type="text/css"  nonce="@session.get("nonce")"/>

@main {
    <style>
        .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) ! important;
    }
    </style>
    @ventanasModales()
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li><a href="@routes.VideotecaController.catalogo()">Catálogo videoteca</a></li>
                <li>Agregar</li>
            </ol>
        </div>
    </div>

    <h1>Agregar al catálogo de videoteca</h1>

    @form(CSRF(routes.VideotecaController.save()), 'role->"form", 'id->"frmVTKCreate", 'name->"frmVTK" , Symbol("data-modo")->"creacion" ) {
        @videotecaSecuencia3Form(forma, auxCreditos)
        <br/><br/>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div style="width: 80%" class="center-block">
                    <!--input type="button" onclick="javascript:agregaJSONX()" value="Agregar" class="btn btn-primary btn-block"-->
                    <!--input type="button"  onclick="javascript:agregaJSON2()"  value="Agregar json" class="btn btn-primary btn-block"-->
                    <input type="button"  value="Agregar" class="btn btn-primary btn-block" id="btnAgregar">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div style="width: 80%" class="center-block">
                    <a href="@routes.VideotecaController.catalogo()" class="btn btn-warning btn-block">Cancelar</a>
                </div>
            </div>
        </div>

        <textarea id="txtLosCreditos" name="txtLosCreditos" style="display:none"></textarea>
    }
}

<script type="text/javascript">
    var texto="";
    $(function() {
        $('form').validator();
        $("#serie_id").selectpicker({
            title:"Escriba, seleccione o busque un número de oficio o descripción del oficio",
            size: 10,
            liveSearchNormalize: true,
            liveSearch: true,
            dropdownAlignRight: true,
            header: "Puede hacer scroll en la lista y seleccionar la serie, o  puede iniciar a escribir la serie y se buscará en el catálogo existente",
            liveSearchPlaceholder: "Aqui puede escribir la búsqueda de la serie",
            noneSelectedText: "No se seleccionó ningúna serie",
            noneResultsText : "La busqueda no regresó resultados. !!!!  <button id='btnAgregarCatVTK' type='button' class='btn btn-primary btn-sm' onclick='javascript:vvVtkCatalogoCrear();'>Agregar serie</button> "
        });

        $("div.bs-searchbox>input").on("keyup", function(){
            console.log("desde acaaaa")
            texto = $(this).val();
        });

        $("#formato_id label").each(function(i, e){
            $(e).after("<br>");
        });
        $("#idioma_id label").each(function(i, e){
            $(e).after("<br>");
        });

        $("#anioProduccion").prop("max","@anio");

        // Palabras clave
        var inputpc = document.querySelector("textarea[id='palabrasClaveStr']"),
        tagifyPC = new Tagify(inputpc,{
            callbacks:{
                change: (e)=>{
                    console.log("change de tagify "+e.detail)
                    x = valoresPalabrasClave();
                    if (  x.length==0 ){
                        console.log("sin valores")
                        $("#palabrasClaveStr").parent().find("tags").css("border","1px solid #b94a48");
                        //$("#palabrasClaveStr").parent().find("tags").css("--tags-hover-border-color","#b94a48");
                    } else {
                        console.log("con valores")
                        $("#palabrasClaveStr").parent().find("tags").css("border","1px solid #DDD");
                        //$("#palabrasClaveStr").parent().find("tags").css("outline","1px solid #DDD");
                        }
                }
            }
        });

        //Seleccionar Español
        $("#idioma_id option[value=1]").prop("selected", true);
        //Seleccionar la primera opcion de Audio (31)
        $("#audio_id option[value=1]").prop("selected", true);
        //Seleccionar la primera opcion de Video (33)
        $("#video_id option[value=1]").prop("selected", true);


        //Predeterminar numero de obra como 01/01
        $("#obra").val("01/01");

        // DatePicker para fecha de producción
        $('#fechaProduccion').bootstrapMaterialDatePicker
		({
			format: 'DD/MM/YYYY',
			time: false,
			lang : 'es',
			minDate : '01/01/1995',
			cancelText: "Cancelar",
			okText: "Aceptar"
		}).on("change", function(e, date){
		});

        // DatePicker para fecha de publicacion
        $('#fechaPublicacion').bootstrapMaterialDatePicker
		({
			format: 'DD/MM/YYYY',
			time: false,
			lang : 'es',
			minDate : '01/01/1995',
			cancelText: "Cancelar",
			okText: "Aceptar"
		}).on("change", function(e, date){
		});

        //Seleccionar .mp4 como predeterminada en formato
        $("#formato_id option[value=2]").prop("selected", true);

        // Intervencion de personajes
        var listaBlanca=[];
        @for( p<-models.Personal.nombresCompletos()) {
            listaBlanca.push("@p.nombreCompleto()");
        }
        var arrTabs = $("div[name='losTabs']").find("textarea");
        $(arrTabs).each(function(i,e){
            var inputx = document.querySelector("textarea[id='"+e.id+"']"),
            tagify = new Tagify(inputx, {
                whitelist: listaBlanca,
                dropdown: {
                    position: "inputx",
                    enabled : 1,
                    maxItems : @models.Personal.find.all().length
                }
            })
        });


        const mObra = IMask(document.getElementById('obra'), {
                  mask: '00/00',
                  lazy: false,
                  autofix: true
        });

        const mDuracion = IMask(document.getElementById('duracionStr'), {
                  mask: 'h:m:s',
                  lazy: false,
                  autofix: true,
                  blocks: {
                      h: {mask: IMask.MaskedRange, placeholderChar: 'h', from: 0, to: 99, maxLength: 2},
                      m: {mask: IMask.MaskedRange, placeholderChar: 'm', from: 0, to: 59, maxLength: 2},
                      s: {mask: IMask.MaskedRange, placeholderChar: 's', from: 0, to: 59, maxLength: 2}
                  }
        });
        labelsCamposRequeridos();
        @for(c<-campos){
            $("label[for='@c.label']").append('<span class="spanIconoAyudaCampo"  data-html="true" data-toggle="popover" data-trigger="hover" title="Ayuda del campo @c.nombre" data-content="@c.indicaciones"   data-container="body"><i class="fas fa-question-circle"></i>    <a tabindex="0" class="iconoAyudaCampo" style="margin-left:10px;" role=""  id="botonAyudaCampo@c.id"  </a></span>');
        }
        $('[data-toggle="popover"]').popover()
        //agregarAbrir();
        $('[data-toggle="tooltip"]').tooltip();
    });  // fin del $(function()


    function vvVtkCatalogoCrear(){
        console.debug("desde vvVtkCatalogoCrear()");
        $("#serieDescripcion").val("");
        $("#divCoincidencias div.list-group>button").remove();
        $("#msgCoincidencias").html("");
        $("#divIdTipoOperacion").text("1");
        $('#myModal2').modal('show');
        if ( texto != null && texto.length>0 ){
            $("#serieDescripcion").val(   texto    );
        }
        $("#serieDescripcion").focus();

    }


    $(document).off("click","button[name='btnProductor']");
    $(document).on("click","button[name='btnProductor']", function(){
        var elId = $("div[name='losTabs'].active").attr("id");
        var textoExistente = $("#ta"+elId).val().length >0;
        $("#ta"+elId).val(  $("#ta"+elId).val()+(textoExistente?", ":"") + $(this).text()    );
    });

</script>

<script src="@routes.Assets.at("bootstrap-select/js/bootstrap-select.min.js")" nonce="@session.get("nonce")"></script>
<script src="@routes.Assets.at("bootstrap-select/js/i18n/defaults-es_ES.min.js")" nonce="@session.get("nonce")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap-select/css/bootstrap-select.min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/videoteca.css")">

<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<script src="@routes.Assets.at("javascripts/jquery.mask.min.js")" nonce="@session.get("nonce")"></script>


<script src="@routes.Assets.at("javascripts/videoteca.js")" nonce="@session.get("nonce")"></script>
<script src="@routes.Assets.at("javascripts/videotecaUR.js")" nonce="@session.get("nonce")"></script>
<script src="@routes.Assets.at("javascripts/videotecaSerie.js")" nonce="@session.get("nonce")"></script>


<script src="@routes.Assets.at("javascripts/imask.js")" nonce="@session.get("nonce")"></script>


<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>

<script type="text/javascript" src="@routes.Assets.at("bootstrap-material-datetimepicker-gh-pages/js/bootstrap-material-datetimepicker.js")" nonce="@session.get("nonce")"></script>
<link rel="stylesheet" href="@routes.Assets.at("bootstrap-material-datetimepicker-gh-pages/css/bootstrap-material-datetimepicker.css")" nonce="@session.get("nonce")"/>
<link rel="stylesheet" href="@routes.Assets.at("bootstrap-material-datetimepicker-gh-pages/css/googleApisMaterial.css")" nonce="@session.get("nonce")"/>
<link rel="stylesheet" href="@routes.Assets.at("bootstrap-material-datetimepicker-gh-pages/css/googleApisRoboto.css")" nonce="@session.get("nonce")"/>


