@(id: Long, forma: Form[VtkCatalogo], auxCreditos:List[TipoCredito], cDuracion:classes.Duracion)

@import helper._
@anio = { @(new Date().format("yyyy"))}

id:@forma.get().id
fechaP:@forma.get().fechaProduccion

<script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

@main {
    @ventanasModales()
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li><a href="@routes.VideotecaController.catalogo()">Catálogo videoteca</a></li>
                <li>Edición</li>
            </ol>
        </div>
    </div>

    <h1>Edición del catálogo de videoteca</h1>

    @form(CSRF(routes.VideotecaController.update()), 'role->"form", 'id->"frmVideoteca", 'name->"frmVTK", Symbol("data-modo")->"edicion") {
        @videotecaForm(forma, auxCreditos)
        <br/><br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                    <input type="submit" onsubmit="javascript:agregaJSON()" value="Actualizar" class="btn btn-primary btn-block">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                    <a onclick="javascript:eliminarCatalogo(@id)"  class="btn btn-danger btn-block">Eliminar</a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div style="width: 80%" class="center-block">
                    <a onclick="javascript:document.getElementById('frmVideoteca').reset();" class="btn btn-warning btn-block">Cancelar</a>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    var texto="";
    $(function() {
        $('form').validator();
        $("#serie_id").selectpicker({
            title:"Escriba, seleccione o busque un número de oficio o descripción del oficio",
            size: 10,
            liveSearchNormalize: true,
            liveSearch: true,
            dropdownAlignRight: true,
            header: "Puede hacer srcoll en la lista y seleccionar la serie, o  puede iniciar a escribir la serie y se buscará en el catálogo existente",
            liveSearchPlaceholder: "Aqui puede escribir la búsqueda de la serie",
            noneSelectedText: "No se seleccionó ningúna serie",
            noneResultsText : "La busqueda no regresó resultados. !!!!  <button id='btnAgregarCatVTK' type='button' class='btn btn-primary btn-sm' onclick='javascript:vvVtkCatalogoCrear();'>Agregar serie</button> "
        });

        $("div.bs-searchbox>input").on("keyup", function(){
            console.log("desde acaaaa")
            texto = $(this).val();
        });

        $("#formato_id label").each(function(i, e){
            $(e).after("<br>");
        });
        $("#idioma_id label").each(function(i, e){
            $(e).after("<br>");
        });

        $("#anioProduccion").prop("max","@anio");

        // Palabras clave
        var inputpc = document.querySelector("textarea[id='palabrasclave']"),
        tagifyPC = new Tagify(inputpc);

        var listaBlanca=[];
        @for( p<-models.Personal.nombresCompletos()) {
            listaBlanca.push("@p.nombreCompleto()");
        }



        console.debug(listaBlanca)

        var arrTabs = $("div[name='losTabs']").find("textarea");

        console.log("arrrrr")
        console.log(arrTabs)


        $(arrTabs).each(function(i,e){
            console.debug(e.id)
            var inputx = document.querySelector("textarea[id='"+e.id+"']"),
            tagify = new Tagify(inputx, {
                whitelist: listaBlanca,
                dropdown: {
                    position: "inputx",
                    enabled : 1,
                    maxItems : @models.Personal.find.all().length
                }
            })
        });
        leer();
        labelsCamposRequeridos();
    });  // fin del $(function()


//aqui me quedé hay un error en la funcio leer

    function leer(){
        @if(forma.get().unidadresponsable!=null){
            $("#unidadresponsable_id").val("@forma.get().unidadresponsable.id");
            $("#URDescripcion").val("@forma.get().unidadresponsable.nombreLargo");
        }

        @if(forma.get().serie!=null){
            $("#serie_id").val("@forma.get().serie.id");
        }

        @if(forma.get().serie!=null){
            $("#serieDescripcion").val( "@forma.get().serie.descripcion"  );
        }

        console.log("duracion: @cDuracion.horas:@cDuracion.minutos:@cDuracion.segundos")
        $("#duracion").val("@cDuracion.cadena()");


        console.log("@forma.get().fechaProduccion")
        console.log(moment("@forma.get().fechaProduccion").format("YYYY") )
        console.log(moment("Thu Oct 01 00:00:00 CDT 1998", "ddd MMM DD HH:mm:ss z YYYY").format("YYYY") )

        $("#fecha_produccion").val(   "@forma.get().fechaProduccion" );

        // Evento (  Servicio en la DB  )
        @if(forma.get().eventos.length>0){
            @for(e<-forma.get().eventos){
                $("#eventos_@(e.servicio.id-1)_id").attr("checked", true);
            }
        }

        // Nivel
        @if(forma.get().niveles.size!=0){
                @for(e<-forma.get().niveles){
                    $("#nivel@(e.nivel.id)").attr("checked", true);
                }
        }





        // Palabras clave
        var inputpc = document.querySelector("textarea[id='palabrasclave']"),
        tagifyPC = new Tagify(inputpc);
        var arr = [];
        @for(c<-forma.get().palabrasClave){
            arr.push( {value:"@c.descripcion", id:@c.id} );
        }
        tagifyPC.addTags(arr);


        // Creditos

        console.log("creditos @forma.get().creditos.size()")
        @for(c<-forma.get().creditos){
            console.log("@c.tipoCredito.id  -  @c.personas");
            var inputCred = document.querySelector("textarea[id='ta"+@c.tipoCredito.id+"']");
            tagifyCreds = new Tagify(inputCred);
            tagifyCreds.addTags("@c.personas");

        }


        // TimeLine
        console.log("timeline @forma.get().timeline.size()")
        @for(c<-forma.get().timeline){
            agregarTimeLine();
            var renglonesTL = $("div[id^='renglonTimeLine-']").length;
            console.log("@c.desde  -  @c.hasta");
            @if(c.desde!=null){
                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='desde']").val( segundosACadena("@c.desde") );
            }
            @if(c.hasta!=null){
                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='hasta']").val( segundosACadena("@c.hasta") );
            }
            @if(c.personaje.nombre.length>0){

                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='personaje']").val( "@c.personaje.nombre" );
            }
            @if(c.gradoacademico.length>0){
                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='grado']").val( "@c.gradoacademico" );
            }
            @if(c.cargo.length>0){
                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='cargo']").val( "@c.cargo" );
            }
            @if(c.tema.length>0){
                $("div[id^='renglonTimeLine-']").eq(renglonesTL-1).find("input[name='tema']").val( "@c.tema" );
            }
        }



        $("#divRegistro").append("Registro :"+moment("@forma.get().auditInsert").format("DD-MM-YY HH:mm:ss")+"<br>Última actualización: "+moment("@forma.get().auditUpdate").format("DD-MM-YY HH:mm:ss")).show();

    }


    function vvVtkCatalogoCrear(){
        console.debug("desde vvVtkCatalogoCrear()");
        $("#serieDescripcion").val("");
        $("#divCoincidencias div.list-group>button").remove();
        $("#msgCoincidencias").html("");
        $("#divIdTipoOperacion").text("1");
        $('#myModal2').modal('show');
        if ( texto != null && texto.length>0 ){
            $("#serieDescripcion").val(   texto    );
        }
        $("#serieDescripcion").focus();

    }


    $("form").submit(function(){

    //  event.preventDefault();
        $("#cuentas_username").attr('name', 'cuentas[0].username');
        $("#cuentas_password").attr('name', 'cuentas[0].password');

        $("[type='checkbox'][id^='auxRoles_']:checked").each(function(i,e){
            $(this).attr("name","cuentas[0].roles["+i+"].rol.id");
        });

    });


    $(document).on("click", "#btnAgregarCatVTK", function(){
            console.log("OKI")
    });

    $(document).off("click","button[name='btnProductor']");
    $(document).on("click","button[name='btnProductor']", function(){
        var elId = $("div[name='losTabs'].active").attr("id");
        var textoExistente = $("#ta"+elId).val().length >0;
        $("#ta"+elId).val(  $("#ta"+elId).val()+(textoExistente?", ":"") + $(this).text()    );
    });

    function eliminarCatalogo(id){
        swal({
          title: 'Confirmar',
          text: '¿Desea eliminar este registro?',
          type: 'question',
          showCancelButton: true,
          confirmButtonText: 'Eliminarlo',
          cancelButtonText: 'Conservarlo',
          confirmButtonColor: "#d33",
          cancelButtonColor: '#3085d6',
          preConfirm: () => {
            return new Promise((resolve) => {
                resolve();
            });
          }
        }).then((result) => {
            console.dir(result)
                  if (result) {
                    $.ajax({
                            url:"@routes.VideotecaController.catalogoDelete()",
                            method: 'POST',
                            data: JSON.stringify( {  id: @id}),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json"
                    }).success(function(data){
                        if (data.estado=="eliminado"){
                            swal({
                                title: 'Eliminado',
                                html: "Se eliminó correctamente el registro<br><br><hr><small>Redirigiendo...</small>",
                                type: 'success',
                                showCancelButton: false,
                                showConfirmButton: false,
                                footer: "pie"
                            }).catch(swal.noop);
                            setTimeout(function(){
                                    $("#frmVideoteca").validator('destroy');
                                    $("#frmVideoteca").attr("action", "@routes.VideotecaController.catalogo()");
                                    $("#frmVideoteca").attr("method", "GET");
                                    $("#frmVideoteca").submit();
                                }
                            , 5000);


                        }
                    }).error(function(xhr, status, error) {
                        console.log("no eliminado")
                    });
                 //   swal('Eliminado', 'Se eliminó correctamente el registro', 'success');



                  } else {
                    swal('Cancelado', 'Se canceló la eliminación', 'error');
                  }
        }
        ,function (dismiss) {
                console.log("dm")
                swal('Cancelado', 'Se canceló la eliminación. Se conserva el registro.', 'info');
        }).catch(swal.noop);
    }











</script>

<script src="@routes.Assets.at("bootstrap-select/js/bootstrap-select.min.js")"></script>
<script src="@routes.Assets.at("bootstrap-select/js/i18n/defaults-es_ES.min.js")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("bootstrap-select/css/bootstrap-select.min.css")">
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/videoteca.css")">

<script src="http://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>


<script src="@routes.Assets.at("javascripts/videoteca.js")"></script>
<script src="@routes.Assets.at("javascripts/videotecaUR.js")"></script>
<script src="https://unpkg.com/imask"></script>


