@main {
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li>Transferencia de archivos</li>
            </ol>
        </div>
    </div>
    @views.html.flashes()

    <form id="frmTA" enctype="multipart/form-data">
        <div id="fileUpload" webkitfiles></div>
    </form>

    <div>
        <!--button id ="btnDirecto" type="button" class="btn btn-primary">Upload</button-->
        <button id ="btnDirecto2" type="button" class="btn btn-primary">Directo</button>
        <!--button id ="btnDirecto3" type="button" class="btn btn-primary">Formulario multi</button-->
    </div>

}
<script>
    $(function(){
      $("#fileUpload").fileUpload();

    });





    $('#fileUpload').on('change', function(event) {
        console.log("...change")
        const files = event.target.files; // Obtiene los archivos seleccionados
        const fileList = $('#fileList');
        fileList.empty(); // Limpia la lista anterior

        for (let i = 0; i < files.length; i++) {
            const fileName = files[i].name; // Obtiene el nombre del archivo
            fileList.append(`<p>${fileName}</p>`); // Muestra el nombre en la lista
        }
        console.log(fileList)
    });





    $("#btnDirecto2").on ("click", function(){
        console.log("Desde btnDirecto2");
        var formData = new FormData();
        console.log("num archs "+$("#fileUpload-1")[0].files.length)
        for(x=0; x<$("#fileUpload-1")[0].files.length; x++){
            var arch = $("#fileUpload-1")[0].files[x];
            console.log(x+"  "+arch.name)
            elAux(arch, x, arch.name);
        }
    });

    // Igual al btnDirecto2, pero llama a elAux2
    $("#btnDirecto3").on ("click", function(){
        console.clear()
        console.log("Desde btnDirecto2");
        var formData = new FormData();
        console.log("num archs "+$("#fileUpload-1")[0].files.length)
        for(x=0; x<$("#fileUpload-1")[0].files.length; x++){
            var arch = $("#fileUpload-1")[0].files[x];
            console.log(x+"  "+arch.name+"->"+arch)
            elAux2(arch, x, arch.name);
        }
    });


    function getBase64(file) {
       var reader = new FileReader();
       reader.readAsDataURL(file);
       reader.onload = function () {
         console.log(reader.result);
         return reader.result;
       };
       reader.onerror = function (error) {
         //console.log('Error: ', error);
         return "error";
       };
    }

    function elAux2(parametro, x, nombreArchivo){

        //getBase64($("#fileUpload-1")[0].files[0]);
        //getBase64(parametro);
        console.log(parametro)

        var nvaForma = new FormData( $("#frmTA")[0]);
        nvaForma.append("nombreArchivo", nombreArchivo);
        nvaForma.append("archivo", parametro);

        const serializedFormData = $(nvaForma).serialize();
        console.log($("#frmTA").serialize())

        $aux = LlamadaAjaxSerialize("/tranzappUploadDirecto2", "POST", $("#frmTA").serialize() );
        $.when($aux).done(function(data){
              console.dir( data);
              console.log("#subido-"+x)
              if (data.estado=="subido"){
                  $("#subido-"+x).html("Si");
                  $("#descarga-"+x).html("<a href="+data.descargar+" target='_blank'>Descarga</a>");
                  $("#borrado-"+ x).html("<a href="+data.borrar+" target='_blank'>Borrar</a>");
              }
              if (data.estado=="error"){
                $("#subido-"+x).html("No");
                $("#descarga-"+x).html("Error");
                $("#borrado-"+x).html("Error");
              }
        });
    }



function elAux(parametro, x, nombreArchivo){
    console.log(parametro)
    $aux = LlamadaAjaxTA("/tranzappUploadDirecto", "POST", parametro);
    $.when($aux).done(function(data){
          console.dir( data);
          console.log("#subido-"+x)
          if (data.estado=="subido"){
              $("#subido-"+x).html("<div class='text-success'>Si</div>");
              $("#descarga-"+x).html("<a href="+data.descargar+" target='_blank'>Descarga</a>");
              $("#borrado-"+ x).html("<a href="+data.borrar+" target='_blank'>Borrar</a>");
          }
          if (data.estado=="error"){
            $("#subido-"+x).html("<div class='text-danger'>No</div>");
            $("#descarga-"+x).html("Error");
            $("#borrado-"+x).html("Error");
          }
    });
}


function LlamadaAjaxTA(ur,metodo, parametro){
	var d = $.Deferred();
	$.ajax({
          url: ur,
          method: metodo,
          type: metodo,
    	  data: parametro,
          contentType: false,
          processData: false
	}).success(function(data) {
		d.resolve(data);
	}).fail(function(e){
		d.reject;
	});
	return d.promise();
}



    $("#btnDirecto").on("click", function(e){
        console.log("Desde btnDirecto");
        var formData = new FormData();
        console.log("num archs "+$("#fileUpload-1")[0].files.length)
        for(x=0; x<$("#fileUpload-1")[0].files.length; x++){
            var arch = $("#fileUpload-1")[0].files[x];
            console.log(arch.name)
            formData.append('files[]', arch, arch.name)
        }
        console.log(formData)
        $.ajax({
            type: 'POST',
            url: '/tranzappUpload',
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
              console.dir( JSON.parse(data));
            }
        });

    });



</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined">
<script src="@routes.Assets.at("fileUpLoad/fileUploadModificado.js")"></script>
<link  href="@routes.Assets.at("fileUpLoad/fileUpload.css")" rel="stylesheet" type="text/css"  nonce="@session.get("nonce")"/>






