<style>
	.nav>li>a { font-size: 0.8em;}
	.nav-tabs>li>a {margin-right: -0.8em;}
</style>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width: 75%">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Videoteca<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>

        </div>
        <div class="modal-body ">
          <div class="hidden">
            tipoOperacion <div id="divIdTipoOperacion"></div>
          </div>
          <div style="width: 100%">
            <div class="center-block">

              <div id="General" class="panel panel-default">
                @*
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-10">
                      <div class="form-group">
                        <dl class=" " id="descripcion_field">
                          <dt><label for="serieDescripcion5">Descripción</label></dt>
                          <dd>
                            <input type="text" id="serieDescripcion5" value="" class="form-control" required="true">
                          </dd>
                        </dl>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div id="divIndicaciones" class="small">
                        <div style="margin-botton: 0.5em">
                            Escriba la descripción de la serie yse realizará automáticamente la búsqueda.
                        </div>
                        <div>5Si la serie que desea agregar aparece en la lista de coincidencias, elijala de la lista.</br>Si la serie es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>nueva</strong></div>
                      </div>

                      <div id="msgCoincidencias" style="margin-top:5px;"></div>

                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 text-center" >
                      <div style="vertical-align: middle;">
                        <button id ="btnNuevaSerie" class="btn">Nueva</button>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div id="divCoincidencias">
                        <div class="list-group" style="font-size: small">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                *@
              </div>
            </div>
          </div>
        </div>

        @*
        <div class="modal-footer">
          @if(session.get("rolActual")=="132"){
            <button type="button" class="btn btn-success" id="btnModalGuardar" style="">Guardar</button>
          }
          <button type="button" class="btn btn-warning" id="btnModalCancelar" data-dismiss="modal">Cerrar ventana</button>
        </div>
        *@
      </div>
    </div>
  </div>
<div id="fc_myModal2" data-toggle="modal" data-target="#myModal2"></div>