@(forma: Form[VtkCatalogo], auxCreditos:List[TipoCredito])

@import helper._

Los campos en <label class="campoRequerido">color oscuro</label> son obligatorios

<fieldset>
    @inputText(forma("id"), '_label -> "", 'class->"", 'type->"hidden" )
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                         @inputText(forma("folio"), '_label -> "1. Folio", 'class->"form-control campoRequerido", 'maxlength->"30",  'placeholder->"Ejem. DIRGRAL980125", '_help->"El folio del oficio" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        @inputText(forma("clave"), '_label -> "2. ID", 'class->"form-control", 'required->true, 'maxlength->"30", 'placeholder->"Ejem. BCT-00081-30",  '_help->"Identificador Videoteca" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <div id="divResultadoBusquedaUR" style="display:none">
                            <dt class=" ">
                            <dt><label for="URDescripcion">Unidad Responsable</label>
                            </dt>
                            <dd>
                                <input type="hidden" id="unidadresponsable_id" name="unidadresponsable.id">
                            </dd>
                            <div id="textUR">???</div>
                        </div>
                        <div id="divBusquedaUR">
                            <dl class=" " id="descripcionUR_field">
                                <dt><label for="URDescripcion">3. Instancia solicitante</label></dt>
                                <dd>
                                    <input type="text" id="URDescripcion" value=""  maxlength="150",  class="form-control" placeholder="Ejem. Escuela Nacional de Biblioteconomía y Archivonomía">
                                </dd>
                            </dl>
                            <div class="help-block with-errors"></div>
                            <div id="divIndicacionesUr" class="small">
                                <div style="margin-botton: 0.5em">
                                    Escriba el nombre completo de la Unidad Responsable y se realizará automáticamente la búsqueda.
                                </div>
                                <div>Si la Unidad Responsable que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si la Unidad Responsable es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva UR</strong></div>
                            </div>
                            <div id="msgCoincidenciasUR" style="margin-top:5px; margin-bottom:5px;"></div>
                            <div id="divCoincidenciasUR">
                                <div class="list-group" style="font-size: small">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 text-center" >
                    <div style="vertical-align: middle;">
                        <a href="javascript:abrirURs();" style="display:none" id="aAbrirURs">Abrir URs</a>
                        <br>
                        <button id ="btnNuevaUR" class="btn btn-success" style="display:none">Nueva UR</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
                    <div class="form-group">
                        <dl class=" " id="evento_field">
                            <dt><label for="eventos_0_id">4. Evento</label></dt>
                            <dd>
                                <input type="checkbox" id="eventos_0_id" name="eventos[0].servicio.id" value="1" class="input-block-level" data-name="cbEvento" >
                                <span style="margin-right:20px;" > @models.Servicio.find.byId(1).descripcion</span>
                                <input type="checkbox" id="eventos_1_id" name="eventos[1].servicio.id" value="2" class="input-block-level" data-name="cbEvento">
                                <span>@models.Servicio.find.byId(2).descripcion</span>
                            </dd>
                            <dd class="info"> </dd>
                        </dl>
                        <div class="help-block with-errors"></div>
                    </div>

                </div>





            </div>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">

                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <dl class=" " id="niverlacademico_field">
                            <dt><label for="nivel1">5. Nivel</label></dt>
                            <dd>
                                <input type="checkbox" id="nivel1" name="niveles[0].nivel.id" value="1" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(1).descripcion</span>
                                <input type="checkbox" id="nivel2" name="niveles[1].nivel.id" value="2" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(2).descripcion</span>
                                <input type="checkbox" id="nivel3" name="niveles[2].nivel.id" value="3" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(3).descripcion</span>
                                <input type="checkbox" id="nivel4" name="niveles[3].nivel.id" value="4" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(4).descripcion</span>
                            </dd>
                            <dd class="info"> </dd>
                        </dl>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        @inputText(forma("folioDEV"), '_label -> "6. Folio DEV",  'maxlength->"30",  'class->"form-control",  'placeholder->"Ejem. 0225689", '_help->"Folio cuando se recibe en la DEV" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-10">
                            <div class="form-group">
                                <div id="divResultadoBusqueda" style="display:none">
                                    <dt class=" ">
                                        <dt><label>7. Serie</label>
                                    </dt>
                                    <input type="hidden" id="serie_id" name="serie.id">
                                    <div id="textSerie">???</div>
                                </div>
                                <div id="divBusqueda">
                                    <dl class=" " id="descripcion_field">
                                        <dt><label for="serieDescripcion">7. Serie</label></dt>
                                        <dd>
                                            <input type="text" id="serieDescripcion" value=""  maxlength="500",  class="form-control" placeholder="Ejem. Agenda Politécnica">
                                        </dd>
                                    </dl>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div id="divIndicaciones" class="small">
                                    <div style="margin-botton: 0.5em">
                                        Escriba la descripción de la serie y se realizará automáticamente la búsqueda.
                                    </div>
                                    <div>Si la serie que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si la serie es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva serie</strong></div>
                                </div>
                                <div id="msgCoincidencias" style="margin-top:5px; margin-bottom:5px;"></div>
                                <div id="divCoincidencias">
                                    <div class="list-group" style="font-size: small">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center" >
                            <div style="vertical-align: middle;">
                                <a href="javascript:abrirSeries();" style="display:none" id="aAbrirSeries">Abrir series</a>
                                <br>
                                <button id ="btnNuevaSerie" class="btn btn-success" style="display:none">Nueva serie</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12"><h2>8. Créditos</h2></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-nav">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div>
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist" id="navTabs">
                                            @for( s <- auxCreditos) {
                                            <li role="presentation" @if(s.id==1){class="active"}><a href="#@s.id"  id="tab@s.id"  role="tab" data-toggle="tab">8.@s.id @s.descripcion</a></li>
                                            }
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            @for(s <- auxCreditos) {
                                            <div role="tabpanel" class="tab-pane @if(s.id==1){ active}" id="@s.id" name="losTabs">
                                                <textarea id="ta@s.id" name="tasCreditos" class="tagify" style="margin-top:10px;"  rows="5" cols="300" placeholder="Escriba los nombres de las personas que participaron en @s.accion"></textarea>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                @inputText(forma("titulo"), '_label -> "9. Título",  'maxlength->"200", 'class->"form-control", 'placeholder->"Ejem. Segundo programa" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                                @inputText(forma("obra"), '_label -> "10. Num. de obra", 'class->"form-control", '_help->"xx/xx" )
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                            <div class="form-group">
                                @inputText(forma("duracionStr"), '_label -> "11. Duración",  'class->"form-control", '_help->"hhh:mm:ss" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-6">
                            <textarea style='display:none;' name='txaPalabrasClave' id='txaPalabrasClave'></textarea>
                            <input type="text" name="palabrasClave[0].descripcion" value="ladescripcion" style="display:none"></input>
                            <label for="palabrasClaveStr">12. Palabras clave</label>
                            <div class="form-group">
                                <textarea id="palabrasClaveStr"  name="palabrasClaveStr"  class="tagify" style="margin-top:10px;"  rows="5" cols="300" placeholder="Ejemplo: Matemáticas discretas"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-10">
                            <div class="form-group">
                                <div id="divResultadoBusquedaProduccion" style="display:none">
                                    <dt class=" ">
                                    <dt><label>13. Producción</label>
                                    </dt>
                                    <input type="hidden" id="produccion_id" name="produccion.id">
                                    <div id="textProduccion">???</div>
                                </div>
                                <div id="divBusquedaProduccion">
                                    <dl class=" " id="produccionDescripcion_field">
                                        <dt><label for="produccionDescripcion">13. Producción</label></dt>
                                        <dd>
                                            <input type="text" id="produccionDescripcion" value=""  maxlength="100",  class="form-control" placeholder="Ejem. ">
                                        </dd>
                                    </dl>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div id="divIndicacionesProduccion" class="small">
                                    <div style="margin-botton: 0.5em">
                                        Escriba la descripción de la produccion y se realizará automáticamente la búsqueda.
                                    </div>
                                    <div>Si la producción que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si la producción es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva producción</strong></div>
                                </div>
                                <div id="msgCoincidenciasProduccion" style="margin-top:5px; margin-bottom:5px;"></div>
                                <div id="divCoincidenciasProduccion">
                                    <div class="list-group" style="font-size: small">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center" >
                            <div style="vertical-align: middle;">
                                <a href="javascript:abrirProducciones();" style="display:none" id="aAbrirProducciones">Abrir producciones</a>
                                <br>
                                <button id ="btnNuevaProduccion" class="btn btn-success" style="display:none">Nueva producción</button>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4">
                            <div class="form-group">
                                @select(
                                forma("disponibilidad.id"),
                                options(models.Disponibilidad.options),
                                '_label -> "18. Disponibilidad", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control"
                                )
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div id="divResultadoBusquedaAreaTematica" style="display:none">
                                    <dt class=" ">
                                    <dt><label class="campoRequerido">19. Área temática</label>
                                    </dt>
                                    <input type="hidden" id="areatematica_id" name="areatematica.id">
                                    <div id="textAreaTematica">???</div>
                                </div>
                                <div id="divBusquedaAreaTematica">
                                    <dl class=" " id="descripcionAreaTematica_field">
                                        <dt><label for="areatematicaDescripcion" class="campoRequerido">19. Área temática</label></dt>
                                        <dd>
                                            <input type="text" id="areatematicaDescripcion" value=""  maxlength="100",  class="form-control" placeholder="Ejem. ---"  required>
                                        </dd>
                                    </dl>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div id="divIndicacionesAreaTematica" class="small">
                                    <div style="margin-botton: 0.5em">
                                        Escriba la descripción del área temática y se realizará automáticamente la búsqueda.
                                    </div>
                                    <div>Si el área temática que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si el área temática es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva área</strong></div>
                                </div>
                                <div id="msgCoincidenciasAreaTematica" style="margin-top:5px; margin-bottom:5px;"></div>
                                <div id="divCoincidenciasAreaTematica">
                                    <div class="list-group" style="font-size: small">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1 col-lg-1 text-center" >
                            <div style="vertical-align: middle;">
                                <a href="javascript:abrirAreas();" style="display:none" id="aAbrirAreas">Abrir áreas</a>
                                <br>
                                <button id ="btnNuevaAreaTematica" class="btn btn-success" style="display:none">Nueva área</button>
                            </div>
                        </div>



                        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4">
                            <div class="form-group">
                                @select(
                                forma("formato.id"),
                                options(VtkFormato.options),
                                '_label -> "20. Formato", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control",
                                'required->true
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @textarea(forma("sinopsis"), '_label -> "21. Sinópsis",  'maxlength->"3000", 'class->"form-control", 'rows->2, 'cols->"300"  , 'required->true, 'placeholder->"Notas: Expo-Profesionfráfica 1998, convenio revision salarial, convenio de colaboración IPN- Instituto de Aviación" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>













    <!-- TimeLine -->
    <textarea style='display:none;' name='txaTimeLine' id='txaTimeLine'></textarea>


    <div class="panel panel-default">
        <div class="panel-body">
            <div id="abc">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12"><h2>22. Intervención de personajes  <a href="javascript:agregarTimeLine();" data-toggle="popover" data-content="Agregar Catalogo" class="text-success">  <i class="fa fa-plus-circle" aria-hidden="true"></i> </a></h2></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2 col-lg-2" style="text-align: center;">23. Tiempo</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-1 col-lg-1">24. Inicio</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">25. Término</div>
                        <div class="col-sm-12 col-md-1 col-lg-2">26. Nombre</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">27. Grado</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">28. Cargo</div>
                        <div class="col-sm-12 col-md-1 col-lg-5">29. Título o tema</div>
                        <div class="col-sm-12 col-md-1 col-lg-1"></div>
                    </div>
            </div>
        </div>
    </div>



    <!-- Audio/Video Observaciones -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @textarea(forma("audio"), '_label -> "30. Audio",  'maxlength->"200", 'class->"form-control", 'rows->3, 'cols->"300"  , 'placeholder->"Ejem. Stereo 48000Hz 16bits Bueno" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @textarea(forma("video"), '_label -> "31. Video",  'maxlength->"200", 'class->"form-control", 'rows->3, 'cols->"300", 'required->true,  'placeholder->"Ejem. NTSC 1920x1080 H.264 16:9 Bueno" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @textarea(forma("observaciones"), '_label -> "32. Observaciones", 'maxlength->"300", 'class->"form-control", 'rows->3, 'cols->"300",  'placeholder->"Ejem. El ponente original no se presentó y en su lugar se contó con el Director de la escuela" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Catalogó  -->
    <div class="panel panel-default" style="display:none5">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">Catalogador: @models.Personal.find.byId( Long.parseLong(session.get("usuario"))).nombreCompleto()</div>
                <div class="col-sm-12 col-md-6 col-lg-6" style="display:none" id="divRegistro"></div>
            </div>
        </div>
    </div>

</fieldset>

<div id="baseTimeLine">
    <div class="row"  style="display:none">
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text" name="desde"  value="" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text" name="hasta"   value="" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="form-group">
                <input type="text" name="personaje" value=""  maxlength="75"  class="form-control" placeholder="Ejem. Juán Pérez López">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text"  name="grado" value=""  maxlength="50"  class="form-control" placeholder="Ejem. Lic.">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text"  name="cargo" value=""  maxlength="50"  class="form-control" placeholder="Ejem. Director">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-5">
            <div class="form-group">
                <input type="text"  name="tema" value=""  maxlength="200"  class="form-control" placeholder="Ejem. Antecedentes de la escuela">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" data-name="iconEliminar">
            <h2 style="cursor:pointer;">
                <a onclick="eliminarTimeLine(this)"><i class="fas fa-trash-alt"></i></a>
            </h2>
        </div>
    </div>
</div>