@(forma: Form[VtkCatalogo], auxCreditos:List[TipoCredito])

@import helper._
<fieldset>
    @inputText(forma("id"), '_label -> "", 'class->"", 'type->"hidden" )
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                         @inputText(forma("folio"), '_label -> "Clave clasificatoria", 'class->"form-control campoRequerido", 'placeholder->"Ejem. DIRGRAL980125", '_help->"El folio del oficio" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="form-group">
                        <div id="divResultadoBusquedaUR" style="display:none">
                            <dt class=" ">
                            <dt><label for="URDescripcion">Unidad Responsable</label>
                            </dt>
                            <dd>
                                <input type="hidden" id="unidadresponsable_id" name="unidadresponsable.id">
                            </dd>
                            <div id="textUR">???</div>
                        </div>
                        <div id="divBusquedaUR">
                            <dl class=" " id="descripcionUR_field">
                                <dt><label for="URDescripcion">Unidad Responsable</label></dt>
                                <dd>
                                    <input type="text" id="URDescripcion" value="" class="form-control" placeholder="Ejem. Escuela Nacional de Biblioteconomía y Archivonomía">
                                </dd>
                            </dl>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div id="divIndicacionesUr" class="small">
                            <div style="margin-botton: 0.5em">
                                Escriba el nombre completo de la Unidad Responsable y se realizará automáticamente la búsqueda.
                            </div>
                            <div>Si la Unidad Responsable que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si la Unidad Responsable es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva UR</strong></div>
                        </div>
                    </div>


                    <div id="msgCoincidenciasUR" style="margin-top:5px; margin-bottom:5px;"></div>

                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 text-center" >
                    <div style="vertical-align: middle;">
                        <a href="javascript:abrirURs();" style="display:none" id="aAbrirURs">Abrir URs</a>
                        <br>
                        <button id ="btnNuevaUR" class="btn btn-success" style="display:none">Nueva UR</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        @inputText(forma("folioDEV"), '_label -> "Folio DEV", 'class->"form-control",  'placeholder->"Ejem. 0225689", '_help->"Folio cuando se recibe en la DEV" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group">
                        @inputText(forma("clave"), '_label -> "ID", 'class->"form-control", 'required->true, 'placeholder->"Ejem. BCT-00081-30",  '_help->"Identificador Videoteca" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div id="divCoincidenciasUR">
                        <div class="list-group" style="font-size: small">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <dl class=" " id="evento_field">
                            <dt><label for="eventos_0_id">Evento</label></dt>
                            <dd>
                                <input type="checkbox" id="eventos_0_id" name="eventos[0].servicio.id" value="1" class="input-block-level" data-name="cbEvento" >
                                <span style="margin-right:20px;" > @models.Servicio.find.byId(1).descripcion</span>
                                <input type="checkbox" id="eventos_1_id" name="eventos[1].servicio.id" value="2" class="input-block-level" data-name="cbEvento">
                                <span>@models.Servicio.find.byId(2).descripcion</span>
                            </dd>
                            <dd class="info"> </dd>
                        </dl>
                        <div class="help-block with-errors"></div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <dl class=" " id="niverlacademico_field">
                            <dt><label for="nivel1">Nivel</label></dt>
                            <dd>
                                <input type="checkbox" id="nivel1" name="niveles[0].nivel.id" value="1" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(1).descripcion</span>
                                <input type="checkbox" id="nivel2" name="niveles[1].nivel.id" value="2" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(2).descripcion</span>
                                <input type="checkbox" id="nivel3" name="niveles[2].nivel.id" value="3" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(3).descripcion</span>
                                <input type="checkbox" id="nivel4" name="niveles[3].nivel.id" value="4" class="input-block-level" data-name="cbNivelAcademico">
                                <span style="margin-right:20px;" > @models.Nivel.find.byId(4).descripcion</span>
                            </dd>
                            <dd class="info"> </dd>
                        </dl>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

                </div>



            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="form-group">
                        <div id="divResultadoBusqueda" style="display:none">

                            <dt class=" ">
                                <dt><label>Serie</label>
                            </dt>
                            <input type="hidden" id="serie_id" name="serie.id">
                            <div id="textSerie">???</div>
                        </div>
                        <div id="divBusqueda">
                            <dl class=" " id="descripcion_field">
                                <dt><label for="serieDescripcion">Serie</label></dt>
                                <dd>
                                    <input type="text" id="serieDescripcion" value="" class="form-control" placeholder="Ejem. Agenda Politécnica">
                                </dd>
                            </dl>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div id="divIndicaciones" class="small">
                            <div style="margin-botton: 0.5em">
                                Escriba la descripción de la serie y se realizará automáticamente la búsqueda.
                            </div>
                            <div>Si la serie que desea agregar aparece en la lista de coincidencias, elijala de la lista.<br>Si la serie es nueva y no aparece en la lista de coincidencias, oprima el botón <strong>Nueva serie</strong></div>
                        </div>
                    </div>


                    <div id="msgCoincidencias" style="margin-top:5px; margin-bottom:5px;"></div>

                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 text-center" >
                    <div style="vertical-align: middle;">
                        <a href="javascript:abrirSeries();" style="display:none" id="aAbrirSeries">Abrir series</a>
                        <br>
                        <button id ="btnNuevaSerie" class="btn btn-success" style="display:none">Nueva serie</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="divCoincidencias">
                        <div class="list-group" style="font-size: small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <div class="form-group">
                                @inputText(forma("titulo"), '_label -> "Título", 'class->"form-control", 'placeholder->"Ejem. Segundo programa" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @textarea(forma("sinopsis"), '_label -> "Sinópsis", 'class->"form-control", 'rows->2, 'cols->"300"  , 'required->true, 'placeholder->"Notas: Expo-Profesionfráfica 1998, convenio revision salarial, convenio de colaboración IPN- Instituto de Aviación" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @select(
                                    forma("produccion.id"),
                                    options(models.Produccion.options),
                                    '_label -> "Producción", '_default -> "-- Seleccione --",
                                    '_showConstraints -> false,
                                    'class->"form-control"
                                )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @inputText(forma("fechaProduccion"), '_label -> "Fecha producción", 'class->"form-control", '_help->"dd/mm/yyyy o mm/yyyy o yyyy", 'placeholder->"Ejem. 04/11/2001" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @select(
                                forma("tipograbacion.id"),
                                options(models.TipoGrabacion.options),
                                '_label -> "Grabación", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control"
                                )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @inputText(forma("fechaPublicacion"), '_label -> "Fecha publicación", 'class->"form-control", '_help->"dd/mm/yyyy o mm/yyyy o yyyy", 'placeholder->"Ejem. 02/12/2001" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            @inputText(forma("obra"), '_label -> "Obra", 'class->"form-control", '_help->"xx/xx" )
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                @*inputText(forma("duracionStr"), 'type->"time", 'step->"1", '_label -> "Duración", 'class->"form-control", '_help->"hh:mm:ss" ) *@
                                @inputText(forma("duracionStr"), '_label -> "Duración", 'class->"form-control", '_help->"hhh:mm:ss" )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                            <div class="form-group">
                                @select(
                                forma("formato.id"),
                                options(VtkFormato.options),
                                '_label -> "Formato", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control",
                                'required->true
                                )
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                @select(
                                forma("idioma.id"),
                                options(Idioma.options),
                                '_label -> "Idioma", '_default->"-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control"
                                )
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-6 col-lg-6">
                            <div class="form-group">
                                @select(
                                forma("disponibilidad.id"),
                                options(models.Disponibilidad.options),
                                '_label -> "Disponibilidad", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control"
                                )
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-2 col-md-6 col-lg-6">
                            <div class="form-group">
                                @select(
                                forma("areatematica.id"),
                                options(models.Areatematica.options),
                                '_label -> "Área temática", '_default -> "-- Seleccione --",
                                '_showConstraints -> false,
                                'class->"form-control",
                                'required->true
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>







    <!-- Palabras clave -->
    <textarea style='display:none;' name='txaPalabrasClave' id='txaPalabrasClave'></textarea>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="text" name="palabrasClave[0].descripcion" value="ladescripcion" style="display:none"></input>
                            <label for="palabrasClaveStr">Palabras Clave</label>
                            <div class="form-group">
                                <textarea id="palabrasClaveStr"  name="palabrasClaveStr"  class="tagify" style="margin-top:10px;"  rows="5" cols="300" placeholder="Ejemplo: Matemáticas discretas"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">

                </div>
            </div>
        </div>
    </div>

    <!-- Creditos -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"><h2>Créditos</h2></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-nav">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist" id="navTabs">
                                    @for( s <- auxCreditos) {
                                        <li role="presentation" @if(s.id==1){class="active"}><a href="#@s.id"  id="tab@s.id"  role="tab" data-toggle="tab">@s.descripcion</a></li>
                                    }
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    @for(s <- auxCreditos) {
                                        <div role="tabpanel" class="tab-pane @if(s.id==1){ active}" id="@s.id" name="losTabs">
                                            <textarea id="ta@s.id" name="tasCreditos" class="tagify" style="margin-top:10px;"  rows="5" cols="300" placeholder="Escriba los nombres de las personas que participaron en @s.accion"></textarea>
                                        </div>
                                    }
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="small" style="margin-top: 5px; margin-left:12px;">
                                                Escriba los nombres del personal que participó en cada una de los apartados
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TimeLine -->
    <textarea style='display:none;' name='txaTimeLine' id='txaTimeLine'></textarea>


    <div class="panel panel-default">
        <div class="panel-body">
            <div id="abc">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12"><h2>Intervención de personajes  <a href="javascript:agregarTimeLine();"  data-toggle="tooltip" data-placement="top" title="Agregar renglón"  class="text-success">  <i class="fa fa-plus-circle" aria-hidden="true"></i> </a></h2></div>
                    </div>

                    <div class="row" id="">
                        <div class="col-sm-12 col-md-1 col-lg-1">Inicio</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">Término</div>
                        <div class="col-sm-12 col-md-1 col-lg-2">Nombre</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">Grado</div>
                        <div class="col-sm-12 col-md-1 col-lg-1">Cargo</div>
                        <div class="col-sm-12 col-md-1 col-lg-5">Título o tema</div>
                        <div class="col-sm-12 col-md-1 col-lg-1"></div>
                    </div>
            </div>
        </div>
    </div>



    <!-- Audio/Video Observaciones -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @textarea(forma("audio"), '_label -> "Audio", 'class->"form-control", 'rows->3, 'cols->"300"  , 'placeholder->"Ejem. Stereo 48000Hz 16bits Bueno" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @textarea(forma("video"), '_label -> "Video", 'class->"form-control", 'rows->3, 'cols->"300", 'required->true,  'placeholder->"Ejem. NTSC 1920x1080 H.264 16:9 Bueno" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @textarea(forma("observaciones"), '_label -> "Observaciones", 'class->"form-control", 'rows->3, 'cols->"300",  'required->true, 'placeholder->"Ejem. El ponente original no se presentó y en su lugar se contó con el Director de la escuela" )
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Catalogó  -->
    <div class="panel panel-default" style="display:none5">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">Catalogador: @models.Personal.find.byId( Long.parseLong(session.get("usuario"))).nombreCompleto()</div>
                <div class="col-sm-12 col-md-6 col-lg-6 " style="display:none" id="divRegistro"></div>
            </div>
        </div>
    </div>

</fieldset>

<div id="baseTimeLine">
    <div class="row"  style="display:none">
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text" name="desde" value="" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text" name="hasta" value="" class="form-control">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="form-group">
                <input type="text" name="personaje" value="" class="form-control" placeholder="Ejem. Juán Pérez López">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text"  name="grado" value="" class="form-control" placeholder="Ejem. Lic.">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <div class="form-group">
                <input type="text"  name="cargo" value="" class="form-control" placeholder="Ejem. Director">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-5">
            <div class="form-group">
                <input type="text"  name="tema" value="" class="form-control" placeholder="Ejem. Antecedentes de la escuela">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" data-name="iconEliminar">
            <h2 style="cursor:pointer;">
                <a onclick="eliminarTimeLine(this)"><i class="fas fa-trash-alt"></i></a>
            </h2>
        </div>
    </div>
</div>