@(content: Html)
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Dirección de Educación Virtual - Televisión Educativa</title>
        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>

        <!-- jQuery -->
        <script src="@routes.Assets.at("gentelella/vendors/jquery/dist/jquery.min.js")"   nonce="@session.get("nonce")"></script>
        <!-- Bootstrap -->
        <script src="@routes.Assets.at("gentelella/vendors/bootstrap/dist/js/bootstrap.min.js")" nonce="@session.get("nonce")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <!-- Meta, title, CSS, favicons, etc. -->
	    <meta name="Descripcion" content="Sistema de TVE">
	    
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style nonce="@session.get("nonce")">
            .Aligner {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .Aligner-item {
              max-width: 75%;
            }

            .Aligner-item--top {
              align-self: flex-start;
            }

            .Aligner-item--bottom {
              align-self: flex-end;

            }
        </style>

        <!-- Matomo -->

        <script nonce="@session.get("nonce")">
              var _paq = window._paq = window._paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="https://check.dev.ipn.mx/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '8']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
              })();
        </script>
        <noscript><p><img src="https://check.dev.ipn.mx/matomo.php?idsite=8&amp;rec=1" style="border:0;" alt="" /></p></noscript>

        <!-- End Matomo Code -->
    </head>
    <body>
        <section id="layout">
        	<div class="row center-block" style="width: 100%" >
        		<div class="col-sm-12 col-md-12 col-lg-12" id="divContent" class="center-block">@content</div>
        	</div>
        </section>
    </body>
</html>
