@main {

    <style>
        td.highlight {
            background-color: rgba(var(--dt-row-hover), 0.052) !important;
        }
    </style>

    @ventanasModales()
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
              <li>Catálogo Videoteca</li>
            </ol>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h1 id="homeTitle">Catálogo </h1>
        </div>
    </div>

    
    @views.html.flashes()

    
    <div class="table-responsive">
        <table id="tabla" class="table table-striped table-bordered"  cellspacing="0" width="100%">
	        <thead>
	            <tr>
                        <td>ID</td>
                        <td>Serie</td>
                        <td>Título</td>
                        <td>Obra</td>
                        <td>Catalogador</td>
                        <td>Productor</td>
	            </tr>
	        </thead>

        </table>
    </div>
}



<script>
    var tablaDT;
    $(function(){
        $.notifyDefaults({
            type: 'success',
            newest_on_top: true,
            z_index: 999000
        });

         $("#wrapper").toggleClass("toggled");
         
         tablaDT =  $('#tabla').DataTable( {
        	 "stateSave": true,
             "language": {
                 "url": "@routes.Assets.at("Spanish.json")" 
             },
             "processing": false,
             "serverSide": true,
             
             "ajax": {
                 "url":  "@routes.AdminVideotecaController.ajaxList()",
                 "contentType": "application/json; charset=utf-8",
                 "dataType": "json"
             },
             "columns": [
                 { "data": "clave",
                   "render": function(data, type, row, meta){
                         return "<a href=\"javascript:catalogoSoloInfo("+row.id+")\">"+data+"</a>";
                   }                	 
                 },
                 {"data": "serie"},
                 { "data": "titulo"},
                  { "data": "obra"},
                  { "data": "catalogador"},
                  {"data": "productor",
                    "render": function(data, type, row, meta){
                        if (data==null)
                            return "<a href=\"javascript:catalogoAsignaProd("+row.id+")\">Asignar productor</a>";
                        else
                        return data;
                    }
                  }

               ],
               "initComplete": function(settings, json) {
            	   $(".rowInner:odd").css("background-color","#f0f0f5")
            	   $("#tabla .row:odd").css("margin-left","-7px").css("margin-right","-7px");
            }               
         } );
         
         tablaDT.off( 'xhr');
         tablaDT.on( 'xhr', function () {
           //console.dir(tablaDT.ajax)
             var json = tablaDT.ajax.json();
             console.log("..........",json)
           //  alert( json.data.length +' row(s) were loaded' );

             var data = tablaDT.ajax.params();
             //alert( 'Search term was: '+data.search.value )
             console.dir(data)
            $(".rowInner:odd").css("background-color", "#bbbbff" );
         } );

        tablaDT.off('mouseenter');
        tablaDT.on('mouseenter', 'td', function () {
            console.log("mouseover...")
            tablaDT
                .cells()
                .nodes()
                .each((el) => el.classList.add('highlight'));
        });
    });


    $("#btnModalAsignaProd").click(function(e){
        asignar( $("#datoID").html(),  $("[name='auxProductores[]']:checked").val() );
    });



    function catalogoSoloInfo(id){
        catalogoInfo(id);
        $("#myModal2").find(".ocultable").hide();
        $("#VMBtnCerrar").show();
        $("#myModal2").modal('show');
    }

    function catalogoAsignaProd(id){
        catalogoInfo(id);
        $("#myModal2").find(".ocultable").show();
        $("#VMBtnCerrar").hide();
        $("#myModal2").modal('show');
    }

    function catalogoInfo(id){
        var $m = LlamadaAjax("@routes.AdminVideotecaController.catalogoInfo", "POST", JSON.stringify({id:id}));
        $.when($m).done(function(data){
            console.dir(data)
            var i ="";
            i += "ID: "+data.clave + " "+
                "Título: "+data.titulo;

            $("#info").html(i);
            var cadena="";
            cadena+="<div class=\"form-group\">";
                @for((key, value) <- models.Personal.optionsProductoresActivos()) {
                    cadena+="<div class=\"col-xs-12 col-sm-6 col-md-4 col-lg-3\">";
                    cadena+="	<table>";
                    cadena+="		<tr>";
                    cadena+="			<td valign=\"baseline\">";
                    cadena+="				<input type=\"radio\" id=\"auxProductores_@key\" name=\"auxProductores[]\" value=\"@key\">&nbsp;";
                    cadena+="			</td>";
                    cadena+="			<td valign=\"baseline\">";
                    cadena+="				@value";
                    cadena+="			</td>";
                    cadena+="		</tr>";
                    cadena+="	</table>";
                    cadena+="</div>";
                }
            cadena+="</div>";
            $("#listaProductores").html(cadena);


            $("#datoID").html(data.clave);
            $("#datoTitulo").html(data.titulo);
            var msgEventos="";
            var msgNiveles="";
            var msgAreas="";
            var msgCreditos="";
            var msgPalabras="";
            var msgEventos="";
            var msgNiveles="";
            var msgAreas="";
            var msgAccesibilidad="";

            $("#datoFormato").html(data.formato);
            $("#datoAudio").html(data.audio);
            if (data.calidadaudio!=undefined){
                var auxCA = "";
                switch (data.calidadaudio) {
                    case "B": auxCA="Buena"; break;
                    case "M": auxCA="Mala"; break;
                    case "FO": auxCA="Fallas de orígen"; break;
                }
                $("#datoCalidadAudio").html(auxCA);
            }
            $("#datoVideo").html(data.video);
            if (data.calidadvideo!=undefined){
                var auxCV = "";
                switch (data.calidadvideo) {
                    case "B": auxCV="Buena"; break;
                    case "M": auxCV="Mala"; break;
                    case "FO": auxCV="Fallas de orígen"; break;
                }
                $("#datoCalidadVideo").html(auxCV);
            }            
            

            $("#datoFolio").html(data.folio);
            $("#datoInstancia").html(data.instancia);
            $("#datoSerie").html(data.serie);
            $("#datoFolioDEV").html(data.folioDEV);

            $("#datoGrabacion").html(data.grabacion);
            $("#datoFechaProduccion").html(data.fechaproduccion);
            $("#datoFechaPublicacion").html(data.fechapublicacion);
            $("#datoDisponibilidad").html(data.disponibilidad);

            $("#datoObservaciones").html(data.observaciones);

            <!-- TimeLine -->
            $("#divRenglonesTimeLine").html("");
            if (data.timeline.length==0){
                $("#headerTimeLine").html("<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><small><i>No se definieron intervenciones de personajes</i></small></div>");
            } else {

                $("#headerTimeLine").html("<div class='col-xs-1 col-sm-1 col-md-1 col-lg-1'> <b>Desde</b> </div> <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1'> <b>Hasta</b> </div> <div class='col-xs-1 col-sm-1 col-md-2 col-lg-2'> <b>Nombre</b> </div> <div class='col-xs-1 col-sm-2 col-md-2 col-lg-2'> <b>Grado</b> </div> <div class='col-xs-1 col-sm-1 col-md-2 col-lg-2'> <b>Cargo</b> </div> <div class='col-xs-1 col-sm-1 col-md-4 col-lg-4'> <b>Título o tema</b> </div>");
                data.timeline.forEach(function (tl, tlIndex) {
                    // clonar baseRenglonesTimeLine
                    console.log(tl.desde)
                    var $clonado = $("#baseRenglonesTimeLine").clone();
                    $clonado.attr("id", "renglonTL-"+tlIndex);
                    //$clonado.addClass("small");
                    $("#divRenglonesTimeLine").append($clonado);
                    if (tl.desde!=undefined)
                        $("#renglonTL-"+tlIndex).find("div[name='tlDesde']").text(tl.desde);
                    if (tl.hasta!=undefined)
                        $("#renglonTL-"+tlIndex).find("div[name='tlHasta']").text(tl.hasta);
                    if (tl.nombre!=undefined)
                        $("#renglonTL-"+tlIndex).find("div[name='tlNombre']").text(tl.nombre);
                    if (tl.grado!=undefined)
                        $("#renglonTL-"+tlIndex).find("div[name='tlGrado']").text(tl.grado);
                    if (tl.cargo!=undefined)
                        $("#renglonTL-"+tlIndex).find("div[name='tlCargo']").text(tl.cargo);
                    if (tl.titulo!=undefined)
                    $("#renglonTL-"+tlIndex).find("div[name='tlTitulo']").text(tl.titulo);
                });
            }







            <!-- Evento -->
            if (data.eventos.length>=1){
                data.eventos.forEach(function (e) {
                        msgEventos+=e.descripcion+", ";
                });
                msgEventos = msgEventos.substring(0, msgEventos.length - 2);
                $("#datoEventos").html(msgEventos);
            }
console.log(msgNiveles)
            <!-- Niveles -->
            if (data.niveles.length>=1){
                data.niveles.forEach(function (n) {
                    msgNiveles+=n.descripcion+", ";
                });
                msgNiveles = msgNiveles.substring(0, msgNiveles.length - 2);
                $("#datoNivel").html(msgNiveles);
            }

            <!-- Área temática -->
            if (data.areastematicas.length>=1){
                data.areastematicas.forEach(function (n) {
                    if (n.id== 999)
                        msgAreas+=  n.descripcion+": "+data.areaTematicaOtra+"  ";
                    else
                        msgAreas+=n.descripcion+", ";
                });

                msgAreas = msgAreas.substring(0, msgAreas.length - 2);
                $("#datoAreatematica").html(msgAreas);
            }

            <!-- creditos -->
            if (data.creditos.length>=1){

                data.creditos.forEach(function (c) {
                    msgCreditos+="<span style='padding-right:1.3rem;'><b>"+c.grupo+": </b>";
                    c.personas.forEach(function(ps){
                        msgCreditos+=ps.persona+", ";
                    });
                    msgCreditos = msgCreditos.substring(0, msgCreditos.length - 2);
                    msgCreditos+="</span>";
                });
            } else {
                msgCreditos="<small><i>No se definieron créditos</i></small>";
            }
            $("#datoCredito").html(msgCreditos);

            <!-- palabras clave -->
            if (data.palabrasclave.length>=1){
                data.palabrasclave.forEach(function (pc) {
                    msgPalabras+="<span style='padding-right:1.3rem;'>"+pc.descripcion;
                    msgPalabras+="</span>";
                });
                $("#datoPalabrasClave").html(msgPalabras);
            }

            data.numobra!=undefined?$("#datoObra").html(data.numobra):$("#datoObra").html("");
            data.duracion!=undefined?$("#datoDuracion").html(data.duracion):$("#datoDuracion").html("");
            data.produccion!=undefined?$("#datoProduccion").html(data.produccion):$("#datoProduccion").html("");
            data.idioma!=undefined?$("#datoIdioma").html(data.idioma):$("#datoIdioma").html("");
            if (data.accesibilidadAudio!=undefined || data.accesibilidadVideo!=undefined){
                if (data.accesibilidadAudio!=undefined && data.accesibilidadAudio==true)
                    msgAccesibilidad+="Lenguaje de señas ,";
                if (data.accesibilidadVideo!=undefined && data.accesibilidadVideo==true)
                    msgAccesibilidad+=" Subtítulos descriptivos ,";
                if (data.accesibilidadAudio==false && data.accesibilidadVideo==false)
                    msgAccesibilidad = "<small><i>Sin opciones de accesibilidad</i></small>  ";
                msgAccesibilidad = msgAccesibilidad.substring(0, msgAccesibilidad.length - 2);
            }
            $("#datoAccesibilidad").html(msgAccesibilidad);




            /*

            folio
            instancia
            folio dev
            serie

            creditos

            num obra
            duracion
            palabras clave
            produccion
            idioma
            accesibilidad
            grabacion
            fecha prod
            fecha pub
            disponibilidad
            formato
            interv personajes
            audio
            calidad audio
            video
            calidad video
            observaciones
            */







            $("#datoSinopsis").html(data.sinopsis);
            if (data.validador!=undefined)
                $("#auxProductores_"+data.validador).prop("checked", true);



        });

     }

    function asignar(clave, idProductor){
        console.log("desde asignar "+clave+" - "+   idProductor)
        var $ap = LlamadaAjax("@routes.AdminVideotecaController.asignarProductor", "POST",  JSON.stringify({clave:clave, idProductor:idProductor}) );
        $.when($ap).done(function(data){
            console.dir(data)
            if (data.estado=="correcto"){
                $("#myModal2").modal('hide');
	        	tablaDT.ajax.reload(null, false);
	            $.notify({
	                title: "<strong>Correcto:</strong> ",
	                message: "Se asignó al productor."
	            },{
	                type: 'success'
	            });

            }
        });
    }


$(document).on("click", "[name='auxProductores[]']", function(e){
    console.log(".....")
    console.log($("[name='auxProductores[]']:checked").length)

    if ( $("[name='auxProductores[]']:checked").length!=0 ){
        $("#btnModalAsignaProd").prop("disabled", false);
    }
});

function toggleMasInfo(){
    console.log("...");
    console.debug($(".ocultable").css("display"))
    $('.ocultable').toggle(  $(".ocultable").css("display")=="none"  );
    if ($(".ocultable").css("display")!="none"){
        $("#iconito").html('<i class="fa-solid fa-chevron-up"></i>');
        $("#divPregInfo").text('Mostrar menos info')

        $(".ocultable").show();

    } else {
        $("#iconito").html('<i class="fa-solid fa-chevron-down"></i>');
        $("#divPregInfo").text('Mostrar más info')
        $(".ocultable").hide();
    }



}






</script>

    <!-- Datatables -->
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/jszip/dist/jszip.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/pdfmake/build/pdfmake.min.js")"></script>
    <script src="@routes.Assets.at("gentelella/vendors/pdfmake/build/vfs_fonts.js")"></script>

    <script src="@routes.Assets.at("bootstrap-notify/bootstrap-notify.min.js")"></script>
            